TCGPLAYER_PUBLIC_KEY=your_public_key
TCGPLAYER_PRIVATE_KEY=your_private_key
TCGPLAYER_CLIENT_ID=your_client_id
TCGPLAYER_CLIENT_SECRET=your_client_secret
PORT=3001
DATABASE_URL=postgresql://user:password@host:port/database
